Who bought what or who reviewed what

 column approach or tabular approach
 

user id and movie id

ex: amazon -- userid and product id , review id

In [1]:
from fastai.collab import *
from fastai.tabular import *

## Collaborative filtering example

https://grouplens.org/datasets/movielens/ -- we are using a smaller version of this

`collab` models use data in a `DataFrame` of user, items, and ratings.

In [2]:
user,item,title = 'userId','movieId','title'

In [3]:
path = untar_data(URLs.ML_SAMPLE)
path

Downloading http://files.fast.ai/data/examples/movie_lens_sample

PosixPath('/home/jupyter/.fastai/data/movie_lens_sample')

In [5]:
ratings = pd.read_csv(path/'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

That's all we need to create and train a model:

In [12]:
data = CollabDataBunch.from_df(ratings, seed=42)

In [13]:
y_range = [0,5.5]

the architecture n_factors -- number of factors to use

In [14]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [15]:
learn.fit_one_cycle(3, 5e-3)

The problem with collaborative filtering is the new user and new movie.. we cannot predict with new user or new movie -- Cold start problem

Use meta data driven model for new user and new movie
in the case we can ask the new user to let answer a few questions about his preferences and the case of new movie the first initial vieweres would give the reviews and then use it as input

meta data driven model can also take geographical location based on suggestions too for non movie related data